<!--<div id="spree-header">-->
<div class="navbar navbar-default yamm" role="navigation" id="navbar">
  <!--<header id="header" data-hook>-->
    <div class="container">
      <!--<div class="row navbar">-->
      <!--  <figure id="logo" class="col-md-4 col-sm-3" data-hook>-->
      
      <div class="navbar-header">

          <%= logo a_options: { class: "navbar-brand home"}, img_options: { width: "80"} %>

      </div>
      <!--/.navbar-header -->
      
      
      
      <div class="navbar-collapse collapse" id="navigation">
			  <ul class="nav navbar-nav navbar-left">
			    <li class="<%= current_page?("/") ? "active" : "" %>" id="home-link" data-hook>
            <%= link_to Spree.t(:home), spree.root_path %>
          </li>
          <% @taxonomies.each do |taxonomy| %>
            <li class="dropdown yamm-fw">
              <%= link_to '#', data: { toggle: "dropdown"}, "aria-haspopup" => 'true' do%>
                <%= taxonomy.name %> <span class="caret"></span>
              <% end %>
              <!-- <div class="mainmenu-submenu">-->
              <!--<div class="mainmenu-submenu-inner"> -->
              <%= nav_tree(taxonomy.root, @taxon, 1) %>
              <!--  </div>-->
              <!--</div>-->
              
              
            </li>
          <% end %>
          
          <!--  Ingresa las paginas estaticas, si las hay -->
						<%= render partial: 'spree/static_content/static_content_list', collection: Spree::Page.by_store(current_store).visible.header_links, as: :page %>
          
			  </ul>
        <!--</figure>-->
          <%#= render partial: 'spree/shared/nav_bar' %>
      </div> <!-- nav-collapse -->    
          
      <div class="navbar-buttons">
      
        <!--<div class="navbar-collapse collapse right" id="basket-overview">-->
          
              <%#= render partial: 'spree/shared/link_to_cart_obaju' %>
            
        <!--</div>-->
          <!--/.nav-collapse -->
          
        <div class="navbar-collapse collapse right" id="search-not-mobile">
          <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
          <span class="sr-only">Toggle search</span>
          <i class="fa fa-search"></i>
          </button>
        </div>
        
      </div>
        
      <div class="collapse clearfix" id="search">
        
        <div class="pull-right">
          <%= render partial: 'spree/shared/search' %>
        </div>
      </div>  
          
        
      
    </div>  <!-- container -->
  <!--</header>-->
  <!--<div class="container">-->
    <%#= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
  <!--</div>-->
</div>
